<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.saad.hajar.mathapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Addition"
            android:label="@string/Addition"
            android:windowSoftInputMode="adjustResize|stateHidden"
            />
        <activity android:name=".Subtraction"
            android:label="@string/Subtraction"
            android:windowSoftInputMode="adjustResize|stateHidden"
            />

        <activity android:name=".Multiplication"
            android:label="@string/Multiplication"
            android:windowSoftInputMode="adjustResize|stateHidden"
            />

        <activity android:name=".Division"
            android:label="@string/Division"
            android:windowSoftInputMode="adjustResize|stateHidden"
            />

    </application>

</manifest>